body form{
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
td, th{
    border: 2px, solid, black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1{
    background-color: rgb(15, 88, 90);
    text-align: center;
}
nav{
    background-color: rgb(241, 212, 85);
}