/* CSS de listar.html */
nav {
    background-color: rgb(46, 18, 9);
}

body {
    margin: 0;
    padding: 0;
    background: url(../../img/Listar.jpg);
    background-size: cover;
    background-position: center;
}

body table {
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

h1 {
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.359);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 166, 255, 0.425);
    transition: color 0.3s ease-in-out;
    /* Transición de color suave */
}

h1:hover {
    color: #ff0000;
    /* Cambio de color al pasar el cursor por encima */
}

th {

    background-color: rgba(107, 106, 106, 0.388);
    color: rgb(255, 255, 255);
    width: 5cm;
    border: 2px, solid, black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    background-color: rgba(231, 225, 225, 0.388);
    color: rgba(255, 255, 255, 0.888);
    border: 2px, solid, black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body caption {
    padding-top: 20px;
    font-style: italic;
}

footer {
    color: aliceblue;
}


.navbar {
    background-color: #fc43003a;
    padding: 10px;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    color: #333;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 4px;
}

a:hover {
    background-color: #ddd;
}